body{
    background-image: url("f.jpg");
}


a:link{
 color: yellow;
}
a:visited{
 color: red;
}
.titulo{
  background-color: transparent;
  color: black;
  text-align:right;
  font-size: 20px;
  font-family: 'Bree Serif', serif;
  font-weight: bold;
}
p{
  font: Arial 15px "Courier", monospace;

}
