body{

  background-image: url("ab.jpg");
  /*background-color: green;*/
  width: 80%;
  margin-left:  auto;
  margin-right: auto;
  text-align: justify;

}
header {
	background: #040004;
	text-align: center;
}

h1{
    text-align: center;
    color: pink;
}
h2{
  text-align: left;
  color: #C8FF00;
}
p{
  color: #BED2C9;
  padding: 10px;
  line-height: 25px;
  font-size: 16px;
}
pre{
  text-align: right;
  font: italic 12px fantasy;
  color: yellow;
}
a{
  font-size: 16px;
  font-family: serif;
  text-decoration: none;
}
a:visited{
  color: yellow;
}

.titulo {
  text-align: center;
  color: pink;
  font-size: 50px;
  font-style: oblique;
  font-family: monospace;
}
.tituprin {
  text-align: center;
  color: red;
  font-size: 50px;
  font-family: 'Bree Serif', serif;

}
.pre{
  text-align: left;
  font: italic 16px fantasy;
  color: #BED2C9;
}
.nom{
  text-align:justify;
  font-style:oblique;
  color: white;
  font-size: 20px;
  padding-left: 10px;
  padding-top: 40px;
  padding-bottom: 140px;
}
.contenidoh {
  text-align:justify;
  font-style:oblique;
  color: white;
  font-size: 20px;
  padding-left: 10px;
  padding-bottom: 140px;
}
.ima{
  float: left;
  width: 300px;
  height: 350px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 5px;
  margin: 10px 10px 10px 10px;
}
.ima-hombre{
  float: left;
  width: 300px;
  height: 250px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 5px;
  margin: 10px 10px 10px 10px;
}
.img-cuento{
  float: right;
  width: 400px;
  height: 300px;
  margin: 0px 10px 10px 10px;
}
.cuento{
  background-image: url("fo.jpg");
}
.hombre{
  background-image: url("fondo.jpg");
}
.leones{
  background-image: url("f.jpg");
}
